<div class="logo">
    <a style="height:auto; width: auto;" class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="Pittie Party NFT">
    </a>
</div>
<div class="nav-links">
    <ul>
        <li><a class="nav-item nav-link" href="#page-top">Home</a></li>
        <li><a class="nav-item nav-link" href="#roadmap">Roapmap</a></li>
        <li><a class="nav-item nav-link ts-scroll" href="#about">About the Artist</a></li>
        <li><a class="ts-scroll btn btn-primary btn-sm m-1 px-3 " href="/mint">Mint!</a></li>
    </ul>
</div>