<div class="main-view">
    <h1>{{title}}</h1>
    <div class="nav">
        <div class="logo"><a style="height:auto; width: auto;" class="navbar-brand" href="#">
                <img src="/assets/logo.png" alt="Pittie Party NFT">
            </a></div>
        <div class="nav-links">
            <ul>
                <li><a class="nav-item nav-link" href="#page-top">Home</a></li>
                <li><a class="nav-item nav-link" href="#roadmap">Roapmap</a></li>
                <li><a class="nav-item nav-link ts-scroll" href="#about">About the Artist</a></li>
                <li><a class="ts-scroll btn btn-primary btn-sm m-1 px-3 " href="/mint">Mint!</a></li>
            </ul>
        </div>
    </div>

    <div class="body-view">
        <wallet-connector [stateManager]="stateManager"></wallet-connector>
        <div>{{stateManager.current.merkleProofManualAddressFeedbackMessage}}</div>
    </div>
    <pittie-footer></pittie-footer>
</div>